* {
    margin: 0 0 0 0;
}

$bodycolor: crimson;

body {
    background-color: $bodycolor;
    font-family: "Graphik", sans-serif;
}

.nav1 {
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    background-color: #f7f8f8;
    box-shadow: 0 0 48px rgba(0, 0, 0, .15);
    height: 48px;
}

.heart {
    color: rgb(80, 86, 102);
}

.google {
    background-color: cornflowerblue;
}

.greatnews {
    background-color: crimson;
}

.neural {
    background-color: darkolivegreen;
}

.video {
    background-color: firebrick;
}

.twitter {
    background-color: goldenrod;
}

.botom {
    height: 10px;
}
